<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.notesplus.KrishSatasiya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Notes Plus"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity android:name=".PrivacyPolicy"></activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNoteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="n" />
        <activity
            android:name=".NotesListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="n" />
        <activity
            android:name=".NoteViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="n" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="n" />
        <activity
            android:name=".NoteEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="n" />
        <activity
            android:name=".PrivacypolicyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_appid" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>